@CHARSET "UTF-8";

#row11{
	height: 13%;
	
}
#row12{
	height: 13%;
	
}
#row13{
	height: 13%;
	
}
#row14{
	height: 13%;
	
}
#row15{
	height: 13%;
	
}
#row16{
	height: 22%;
	
}
#row17{
	height: 13%;
	
}
#title{
	font-size: 28px;
	margin-left: 44%;
	margin-top: 1.5%;
}

.qianmian{
	font-size: 16px;
	margin-left: 10%;
	margin-top: 4%;
	
}
.info{
	font-size: 16px;
}
#message{
	font-size: 16px;
	margin-left: 6.5%;
	margin-top: 4%;
}
#btn{
	margin-left: 40%;
	margin-top: 1%;
}
#btn1{
	margin-left: 2%;
	margin-top: 1%;
}
#btn2{
	margin-left: 2%;
	margin-top: 1%;
}
#chuzu{
	font-size: 20px;
	margin-left: 43%;
	color: red;
}