@CHARSET "UTF-8";
#total{
	width:100%;
	height:100%;
}
#row1{
	height: 7%;
}
#row2{
	height: 17%;
}
#row3{
	height: 100%;
}
#row5{
	height: 100%;
}
#row4{
	height: 100%;
	width: 50%;
	margin-left: 45%;
}
#tupian{
	width: 100%;
	height: 100%;
}
#tishi{
	font-size: 18px;
	margin-left: 5%;
	margin-top: 15%;
}